.renta-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    list-style: none; 
    border: 1px solid #57b98300;
    background-color: #84eb80;
  }
  
  .renta-detail {
      font-weight: bold;
  }
      
  .editar-button {
      background-color: #356fdc;
      color: #fff;
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }